.calculator {
    border: 2px solid black;
    width: 400px; 
    height: 500px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 10px;
}

.display {
    background-color: #ddd;
    padding: 5px;
    margin-bottom: 10px;
}

.button-row {
    display: flex;
}

.cover{
    display: grid;
    place-items: center;
    height: 450px;
    
}
button { 
    font-size: 30px;
    width: 70px;
    height: 80px;
    border-radius: 20px;
    border: none;
    margin: 5px;
    background-color: #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #aaa;
}

#result {
    width: 100%;
    height: 30px;
    font-size: 20px;
    text-align: right;
}
